# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Specific THOMAS #
# ===================================== #

ExportedObj/
obj/
\.git
\.svn
\.svn-base
*.swatch

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db


*.apk

Assets/Plugins/SocialNetworkingIOS/demoIOS/*
Assets/Plugins/SocialNetworkingIOS/demoIOS.meta

*.apk
ios/*
ios2/*
Assets/license_3rdpartynotice.txt
Assets/license_3rdpartynotice.txt.meta
Assets/link.xml
Assets/link.xml.meta
Assets/Plugins.meta
Assets/readme_SDK.txt
Assets/readme_SDK.txt.meta
Assets/Vuforia.meta
Assets/_Michiterasu/Scenes/t_gou.meta
Assets/_Michiterasu/Scenes/t_gou/Test.unity
Assets/_Michiterasu/Scenes/t_gou/Test.unity.meta
ProjectSettings/NavMeshProjectSettings.asset
Materials.meta
Assets/_Michiterasu/Artworks/Pattern.meta
Assets/_Michiterasu/Artworks/Pattern/_Tex.meta
Assets/_Michiterasu/Artworks/Pattern/_Tex/PatterTest_AA.png.meta
Assets/_Michiterasu/Artworks/Pattern/_Tex/PatterTest_AB.png.meta
Assets/_Michiterasu/Artworks/Pattern/_Tex/PatterTest_BA.png.meta
Assets/_Michiterasu/Artworks/Pattern/_Tex/PatterTest_BB.png.meta
Assets/_Michiterasu/Artworks/Pattern/_Tex/PatterTest_CA.png.meta
Assets/_Michiterasu/Artworks/Pattern/_Tex/PatterTest_CB.png.meta
